<!DOCTYPE html> 

<!-- template: /a/www/ietf-datatracker/web/ietf/templates/base.html -->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://www.ietf.org/lib/dt/6.49.0/ptmono/stylesheet.css" rel='stylesheet' type='text/css'>
    <link href="https://www.ietf.org/lib/dt/6.49.0/ptsans/stylesheet.css" rel='stylesheet' type='text/css'>
    <link href="https://www.ietf.org/lib/dt/6.49.0/ptserif/stylesheet.css" rel='stylesheet' type='text/css'>
    

    <link rel="stylesheet" href="https://www.ietf.org/lib/dt/6.49.0/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.ietf.org/lib/dt/6.49.0/ietf/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.ietf.org/lib/dt/6.49.0/ietf/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://www.ietf.org/lib/dt/6.49.0/ietf/css/ietf.css">
    
    <style>
     
    </style>

    <!--[if lt IE 9]>
        <script src="https://www.ietf.org/lib/dt/6.49.0/html5shiv/html5shiv.min.js"></script>
        <script src="https://www.ietf.org/lib/dt/6.49.0/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  


    
    <link rel="shortcut icon" href="https://www.ietf.org/lib/dt/6.49.0/ietf/images/ietf-icon-blue3.png">
    
    <link rel="apple-touch-icon" href="https://www.ietf.org/lib/dt/6.49.0/ietf/images/apple-touch-icon.png">
  </head>

  <body  data-group-menu-data-url="/group/groupmenu.json">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">
	       <img alt="IETF Logo" src="https://www.ietf.org/lib/dt/6.49.0/ietf/images/ietflogo-small-transparent.png">
	       
		  
		  Datatracker
		  
	       
	    </a>
	  </div>

	  <noscript>
	    <p class="navbar-text"><small>Enable Javascript for full functionality.</small></p>
	  </noscript>

	  <div class="collapse navbar-collapse" id="navbar-collapse">
	    <ul class="hidden-nojs nav navbar-nav">
              <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu.html -->




<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  
  Groups
  
    </a>
    <ul class="dropdown-menu" role="menu">
  

  <li><a href="/wg/">Active WGs</a></li>
  <li><a href="/rg/">Active RGs</a></li>
  <li class="dropdown-submenu group-menu"><a href="/group/">Other</a><!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_active_groups.html -->
<ul class="dropdown-menu" role="menu">

  <li>
    <a href="/ag/">Active AGs</a>
  </li>

  <li>
    <a href="/area/">Active Areas</a>
  </li>

  <li>
    <a href="/dir/">Active Directorates</a>
  </li>

  <li>
    <a href="/program/">Active Programs</a>
  </li>

  <li>
    <a href="/team/">Active Teams</a>
  </li>

</ul>
 </li>

  <li class="divider hidden-xs"></li>
  <li class="dropdown-header visible-lg-block">By area/parent</li>
        <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_wg.html -->

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-2010">
    <a href="/wg/#art">Applications and Real-Time</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1008">
    <a href="/wg/#gen">General</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1052">
    <a href="/wg/#int">Internet</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1193">
    <a href="/wg/#ops">Ops &amp; Mgmt</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1249">
    <a href="/wg/#rtg">Routing</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1260">
    <a href="/wg/#sec">Security</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1324">
    <a href="/wg/#tsv">Transport</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-3">
    <a href="/rg/">IRTF</a>
  </li>


        

  <li class="divider hidden-xs"></li>
  <li class="dropdown-header hidden-xs">New work</li>
  <li><a href="/group/chartering/">Chartering groups</a></li>
  <li><a href="/wg/bofs/">BOFs</a></li>

  <li class="divider hidden-xs"></li>
  <li class="dropdown-header hidden-xs">Other groups</li>
  <li><a href="/group/concluded/">Concluded groups</a></li>
  <li><a href="https://www.ietf.org/list/nonwg.html">Non-WG lists</a></li>

</ul>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  
  Documents
  
    </a>
    <ul class="dropdown-menu" role="menu">
  
  <li><a href="/doc/search/">Search</a></li>
  <li><a href="/submit/">Draft submission</a></li>

  
    <li><a rel="nofollow" href="/accounts/login/?next=/submit/">Sign in to track docs</a></li>
  

  

  

  
  <li class="divider hidden-xs"></li>
  <li class="dropdown-header hidden-xs">RFC streams</li>
        <li><a href="/stream/iab/">IAB</a></li>
        <li><a href="/stream/irtf/">IRTF</a></li>
        <li><a href="/stream/ise/">ISE</a></li>

</ul>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  
  Meetings
  
    </a>
    <ul class="dropdown-menu" role="menu">
  

  <li><a href="/meeting/agenda/">Agenda</a></li>
  <li><a href="/meeting/">Materials</a></li>
  <li><a href="https://www.ietf.org/meeting/proceedings.html">Past proceedings</a></li>
  <li><a href="/meeting/upcoming">Upcoming</a></li>
  <li><a href="/meeting/past">Past</a></li>
  <li><a href="/secr/sreq/">Request a session</a></li>
  <li><a href="/meeting/requests">Session requests</a></li>
</ul>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  
  Other
  
    </a>
    <ul class="dropdown-menu" role="menu">
  

  <li><a href="/ipr/">IPR disclosures</a></li>
  <li><a href="/liaison/">Liaison statements</a></li>
  <li><a href="/iesg/agenda/">IESG agenda</a></li>
  <li><a href="/stats/">Statistics</a></li>
  <li><a href="/group/edu/materials/">Tutorials</a></li>
  <li class="divider hidden-xs"></li>
  <li><a href="https://tools.ietf.org/tools/ietfdb/newticket"><span class="fa fa-bug"></span> Report a bug</a></li>
</ul>


  <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_user.html -->


<li class="dropdown">
  
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
     User 
  </a>
  <ul class="dropdown-menu" role="menu">
  

  
    
      <li><a rel="nofollow" href="/accounts/login/?next=/submit/">Sign in</a></li>
      <li><a rel="nofollow" href="/accounts/reset/">Password reset</a></li>
      <li><a href="/accounts/settings/" rel="nofollow">Preferences</a></li>
    
  

  
    <li><a href="/accounts/create/">New account</a></li>
  

  

  

  

  

  
</ul>



            </ul>

	    <form class="navbar-form navbar-right hidden-xs" action="/doc/search/">
	      <div class="form-group">
	        <input class="form-control input-sm" type="text" name="name" placeholder="Document search">
	        <input type="hidden" name="activedrafts" value="on">
	        <input type="hidden" name="rfcs" value="on">
	      </div>
	    </form>
	  </div>
        </div>
      </nav>
      <div class="container-fluid">
        
        
         
          <div class="row">
	    <div class="col-md-2 visible-md visible-lg leftmenu">
	      <ul class="nav nav-pills nav-stacked panel panel-default panel-body">
                <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu.html -->



  <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_user.html -->


<li class="nav-header">
  
     User
  

  
    
      <li><a rel="nofollow" href="/accounts/login/?next=/submit/">Sign in</a></li>
      <li><a rel="nofollow" href="/accounts/reset/">Password reset</a></li>
      <li><a href="/accounts/settings/" rel="nofollow">Preferences</a></li>
    
  

  
    <li><a href="/accounts/create/">New account</a></li>
  

  

  

  

  

  




<li class="nav-header">
  
  
  Groups
  

  <li><a href="/wg/">Active WGs</a></li>
  <li><a href="/rg/">Active RGs</a></li>
  <li class="dropdown-submenu group-menu"><a href="/group/">Other</a><!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_active_groups.html -->
<ul class="dropdown-menu" role="menu">

  <li>
    <a href="/ag/">Active AGs</a>
  </li>

  <li>
    <a href="/area/">Active Areas</a>
  </li>

  <li>
    <a href="/dir/">Active Directorates</a>
  </li>

  <li>
    <a href="/program/">Active Programs</a>
  </li>

  <li>
    <a href="/team/">Active Teams</a>
  </li>

</ul>
 </li>

  
  <li class="nav-header hidden-nojs">By area/parent</li>
        <!-- template: /a/www/ietf-datatracker/web/ietf/templates/base/menu_wg.html -->

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-2010">
    <a href="/wg/#art">Applications and Real-Time</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1008">
    <a href="/wg/#gen">General</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1052">
    <a href="/wg/#int">Internet</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1193">
    <a href="/wg/#ops">Ops &amp; Mgmt</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1249">
    <a href="/wg/#rtg">Routing</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1260">
    <a href="/wg/#sec">Security</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-1324">
    <a href="/wg/#tsv">Transport</a>
  </li>

  <li class="hidden-nojs dropdown-submenu group-menu group-parent-3">
    <a href="/rg/">IRTF</a>
  </li>


        

  
  <li class="nav-header">New work</li>
  <li><a href="/group/chartering/">Chartering groups</a></li>
  <li><a href="/wg/bofs/">BOFs</a></li>

  
  <li class="nav-header">Other groups</li>
  <li><a href="/group/concluded/">Concluded groups</a></li>
  <li><a href="https://www.ietf.org/list/nonwg.html">Non-WG lists</a></li>



<li class="nav-header">
  
  
  Documents
  
  <li><a href="/doc/search/">Search</a></li>
  <li><a href="/submit/">Draft submission</a></li>

  
    <li><a rel="nofollow" href="/accounts/login/?next=/submit/">Sign in to track docs</a></li>
  

  

  

  
  
  <li class="nav-header">RFC streams</li>
        <li><a href="/stream/iab/">IAB</a></li>
        <li><a href="/stream/irtf/">IRTF</a></li>
        <li><a href="/stream/ise/">ISE</a></li>



<li class="nav-header">
  
  
  Meetings
  

  <li><a href="/meeting/agenda/">Agenda</a></li>
  <li><a href="/meeting/">Materials</a></li>
  <li><a href="https://www.ietf.org/meeting/proceedings.html">Past proceedings</a></li>
  <li><a href="/meeting/upcoming">Upcoming</a></li>
  <li><a href="/meeting/past">Past</a></li>
  <li><a href="/secr/sreq/">Request a session</a></li>
  <li><a href="/meeting/requests">Session requests</a></li>


<li class="nav-header">
  
  
  Other
  

  <li><a href="/ipr/">IPR disclosures</a></li>
  <li><a href="/liaison/">Liaison statements</a></li>
  <li><a href="/iesg/agenda/">IESG agenda</a></li>
  <li><a href="/stats/">Statistics</a></li>
  <li><a href="/group/edu/materials/">Tutorials</a></li>
  
  <li><a href="https://tools.ietf.org/tools/ietfdb/newticket"><span class="fa fa-bug"></span> Report a bug</a></li>




              </ul>
	    </div>
            <div class="col-md-10" id="content">
	      <!--[if lt IE 8]>
	      <p id="browsehappy" class="collapse alert alert-warning alert-dismissible">
	      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      <b>You are using an outdated browser.</b> Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
	      </p>
	      <![endif]-->

        
        
  <!-- template: /a/www/ietf-datatracker/web/ietf/templates/submit/submit_base.html -->
  <h1>Internet-Draft submission </h1>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="/submit/">Upload</a>
    </li>
    <li >
      <a href="/submit/status/">Status</a>
    </li>
    <li >
      <a href="/submit/tool-instructions/">Instructions</a>
    </li>
    <li >
      <a href="/submit/note-well/">Note Well</a>
    </li>
    <li >
      <a href="/submit/approvals/">Approvals</a>
    </li>
    <li >
      <a href="/submit/manualpost/">Manual Post Requests</a>
    </li>
  </ul>

  
  <!-- template: /a/www/ietf-datatracker/web/ietf/templates/submit/upload_submission.html -->
  
  
  

  <p>This page is used to submit Internet-Drafts to the
    Internet-Draft repository. The list of current Internet-Drafts can be
    accessed at <a href="https://www.ietf.org/ietf/1id-abstracts.txt">https://www.ietf.org/ietf/1id-abstracts.txt</a></p>

  <p>Internet-Drafts are working documents of the Internet Engineering
    Task Force (IETF), its areas, and its working groups. Note that other
    groups may also distribute working documents as Internet-Drafts.</p>

  <p>Internet-Drafts are draft documents, and are valid for a maximum of
    six months. They may be updated, replaced, or obsoleted by other
    documents at any time.</p>

  
    <p>If you run into problems when submitting an Internet-Draft
      using this and the following pages, you may alternatively submit
      your draft by email to
      <a href="mailto:internet-drafts@ietf.org">internet-drafts@ietf.org</a>.
      However, be advised that manual processing always takes additional time.</p>

    <!-- template: /a/www/ietf-datatracker/web/ietf/templates/submit/problem-reports-footer.html -->
<p>
  The IETF is an organized activity of the <a href="https://www.isoc.org">Internet Society</a>.
  Please send problem reports to <a href="mailto:ietf-action@ietf.org">ietf-action@ietf.org</a>.
</p>


      <h2>Upload an Internet-Draft</h2>

      <p>
	 <i>Either a plain-text document or a valid .xml file which can be processed by the xml2rfc
	 processor <b>must</b> be provided.<br/>
	 If no .txt file is provided, one will be generated from the .xml file.<br/>
	 Other file types are optional.</i>
      </p>

      <form method="post" enctype="multipart/form-data">
        <input type='hidden' name='csrfmiddlewaretoken' value='0Qu3UZ1VbIgLaefxQLHQMIi9vvT40Fbtezz4ZgkyG1jlkEGB9IRQalxHW9AbwbXo' />

        <div class="form-group"><label class="control-label" for="id_txt">.txt format</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_txt" name="txt" title="" type="file" /></div></div></div>
<div class="form-group"><label class="control-label" for="id_xml">.xml format</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_xml" name="xml" title="" type="file" /></div></div></div>
<div class="form-group"><label class="control-label" for="id_pdf">.pdf format</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_pdf" name="pdf" title="" type="file" /></div></div></div>
<div class="form-group"><label class="control-label" for="id_ps">.ps format</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_ps" name="ps" title="" type="file" /></div></div></div>

        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Upload" name="upload">
        </div>
      </form>
  




        
        
	    </div>
          </div>
        

	
	<hr>
	  <div class="col-md-12">
	    <div class="text-center padded">
	        <a href="https://www.internetsociety.org/" class="padded">ISOC</a>
	        <a href="https://trustee.ietf.org/" class="padded">IETF&nbsp;Trust</a>
	        <a href="https://www.rfc-editor.org/" class="padded">RFC&nbsp;Editor</a>
	        <a href="https://www.irtf.org/" class="padded">IRTF</a>
	        <a href="https://www.ietf.org/iesg/" class="padded">IESG</a>
	        <a href="https://www.ietf.org/" class="padded">IETF</a>
	        <a href="https://www.iab.org/" class="padded">IAB</a>
	        <a href="https://iaoc.ietf.org" class="padded">IASA&nbsp;&amp;&nbsp;IAOC</a>
	        <a href="https://tools.ietf.org/" class="padded">IETF&nbsp;Tools</a>
	        <a href="https://www.iana.org/" class="padded">IANA</a>
	    </div>
	  </div>


        <footer class="row">
	  <div class="col-md-12">
	    <div class="text-center">
	      <p class="small text-muted">
	        
		  <a href="/release/about">About</a> |
	          IETF Datatracker |
	          <a href="/release/6.49.0/">Version 6.49.0</a> |
	          2017-03-29 |
	        
		Report a bug:
	        <a href="https://tools.ietf.org/tools/ietfdb/newticket">Tracker:<span class="fa fa-bug"></span></a>
	        <a href="mailto:datatracker-project@ietf.org">Email:<span class="fa fa-envelope"></span></a>
		<br>
		  Python 2.7.12 |
		  Django 1.10.6
	      </p>
	    </div>
	  </div>
        </footer>
	

      </div>

      
<!-- template: /a/www/ietf-datatracker/web/ietf/templates/debug.html -->



      <script src="https://www.ietf.org/lib/dt/6.49.0/jquery/jquery.min.js"></script>
      
      <script>$(".visible-nojs").removeClass("visible-nojs");</script>
      <script>$(".hidden-nojs").removeClass("hidden-nojs");</script>
      <script src="https://www.ietf.org/lib/dt/6.49.0/jquery.cookie/jquery.cookie.js"></script>
      <script src="https://www.ietf.org/lib/dt/6.49.0/ietf/bootstrap/js/bootstrap.min.js"></script>
      <script src="https://www.ietf.org/lib/dt/6.49.0/ietf/js/ietf.js"></script>
      
      
  </body>
</html>


